<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="">
    <div id="tableSection" style="margin-bottom: 5px;">
      <table style="border: 2px solid black; width: 100%">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>Phone Number</th>
        </tr>

        <tbody>
          <tr>
            <td style="border: 2px solid black">Sample Id</td>
            <td style="border: 2px solid black">Sample Firstname</td>
            <td style="border: 2px solid black">Sample Surname</td>
            <td style="border: 2px solid black">Sample PhoneNo</td>
            <td style="border: 2px solid black">
              <div style="margin: auto; display: flex; justify-content: center;">
                <button style="margin-right: 5%">Edit</button>
                <button>Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />


    <div style="margin-top: 15px;">
      <span>Not seeing your info? Click <b>Register</b></span>
      <br />
      <button>Register</button>
    </div>
    <br />

  </div>

</body>
</html>

