<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="">
    <div *ngIf="showTable" id="tableSection" style="margin-bottom: 5px;" ng-show="showTable">
      <table style="border: 2px solid black; width: 100%">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>Phone Number</th>
        </tr>

        <tbody>
          <tr *ngFor="let phoneBook of phoneBookEntries">
            <td style="border: 2px solid black">{{phoneBook.phoneBookEntryId}}</td>
            <td style="border: 2px solid black">{{phoneBook.firstname}}</td>
            <td style="border: 2px solid black">{{phoneBook.surname}}</td>
            <td style="border: 2px solid black">{{phoneBook.phoneNumber}}</td>
            <td style="border: 2px solid black">
              <div style="margin: auto; display: flex; justify-content: center;">
                <button (click)="bindSelected(phoneBook)" style="margin-right: 5%">Edit</button>
                <button (click)="RemovePhonebookEntry(phoneBook.phoneBookEntryId)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="margin-top: 15px;">
        <span>Not seeing your info? Click <b>Add</b></span>
        <br />
        <button (click)="showTable = false">Add</button>
      </div>
    </div>
    <br />


    <div *ngIf="showTable == false" id="addSection">
      <label>First Name:  </label>
      <input [(ngModel)]="selectedPhoneBookEntry.firstname" type="text" name="firstname" required>
      <br>
      <br>

      <label>Surname: </label>
      <input [(ngModel)]="selectedPhoneBookEntry.surname" type="text" name="surname" required>
      <br>
      <br>

      <label>Phone Number:  </label>
      <input [(ngModel)]="selectedPhoneBookEntry.phoneNumber" type="text" name="phoneNumber" required minlength="10">
      <br>
      <br>

      <button *ngIf="selectedPhoneBookEntry.phoneBookEntryId != 0" type="submit" (click)="UpdatePhonebookEntry()" name="addButton">Update</button>
      <button *ngIf="selectedPhoneBookEntry.phoneBookEntryId == 0" type="submit" (click)="SaveNewPhonebookEntry()" name="addButton">Submit</button>
    </div>
    <br />

  </div>

</body>
</html>

