<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="">
    <div *ngIf="showTable" id="tableSection" style="margin-bottom: 5px;" ng-show="showTable">
      <div class="row mb-4">
        <div class="col-6">
          <button class="btn btn-info float-left bs-tooltip" title="Click to navigate to Home"  [routerLink]="['/']">Info</button>
        </div>
        <div class="col-6">
          <button class="btn btn-success float-right bs-tooltip" title="Click to add new user" (click)="clearSelected()">Add</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <tr >
            <th>Id</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Phone Number</th>
          </tr>
  
          <tbody>
            <tr *ngFor="let phoneBook of phoneBookEntries">
              <td>{{phoneBook.phoneBookEntryId}}</td>
              <td><a>{{phoneBook.firstname}}</a></td>
              <td>{{phoneBook.surname}}</td>
              <td><a>{{phoneBook.phoneNumber}}</a></td>
              <td>
                <button class="btn btn-primary float-right bs-tooltip" title="Click to delete user info" (click)="RemovePhonebookEntry(phoneBook.phoneBookEntryId)">Remove</button>
                <button class="btn btn-success float-right bs-tooltip" title="Click to update user info" (click)="bindSelected(phoneBook)" style="margin-right: 5%">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br />


    <div *ngIf="showTable == false" id="addSection" class="" style="border: solid 2px white; border-radius: 50px; margin: auto; width: 600px;">
      <div id="headingSection" class="d-flex mt-2" style="justify-content: center; color: white">
        <div *ngIf="selectedPhoneBookEntry.phoneBookEntryId != 0">
          <h1>User Details Update</h1>
        </div>
        <div *ngIf="selectedPhoneBookEntry.phoneBookEntryId == 0">
          <h1>User Details Add</h1>
        </div>
      </div>

      <form name="inputForm">

        <div class="row mt-4 ml-2">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="mr-4" style="color: white; width: 150px;"><h3>First Name:  </h3></label>
            <input [(ngModel)]="selectedPhoneBookEntry.firstname" style="width: 60%;" class="mr-2" type="text" placeholder="Eg: John" name="firstname" minlength="3" required>

            <!--Validation-->
            <!--<div *ngIf="selectedPhoneBookEntry.firstname.invalid && (selectedPhoneBookEntry.firstname.dirty || selectedPhoneBookEntry.firstname.touched)"
             class="alert">

              <div *ngIf="selectedPhoneBookEntry.firstname.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="selectedPhoneBookEntry.firstname.errors?.['minlength']">
                Name must be at least 3 characters long.
              </div>

            </div>-->


          </div>
        </div>

        <br>
        <br>
        <div class="row mt-4 ml-2">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="mr-4" style="color: white; width: 150px;"><h3>Surname: </h3></label>
            <input [(ngModel)]="selectedPhoneBookEntry.surname" class="mr-2" style="width: 60%;" type="text" placeholder="Eg: Doe" name="surname" minlength="3" required>

            <!--Validation-->
            <!--<div *ngIf="selectedPhoneBookEntry.surname.invalid && (selectedPhoneBookEntry.surname.dirty || selectedPhoneBookEntry.surname.touched)"
             class="alert">

              <div *ngIf="selectedPhoneBookEntry.surname.errors?.['required']">
                Surname is required.
              </div>
              <div *ngIf="selectedPhoneBookEntry.surname.errors?.['minlength']">
                Surname must be at least 3 characters long.
              </div>

            </div>-->

          </div>
        </div>
        <br>
        <br>

        <div class="row mt-4 ml-2">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="mr-4" style="color: white; width: 150px;"><h3>Phone No:  </h3></label>
            <input [(ngModel)]="selectedPhoneBookEntry.phoneNumber" class="mr-2" style="width: 60%;" type="text" name="phoneNumber" placeholder="Eg: 074 512 5487" minlength="10" maxlength="15" required >

            <!--Validation-->
            <!--<div *ngIf="selectedPhoneBookEntry.phoneNumber.invalid && (selectedPhoneBookEntry.phoneNumber.dirty || selectedPhoneBookEntry.phoneNumber.touched)"
             class="alert">

              <div *ngIf="selectedPhoneBookEntry.phoneNumber.errors?.['required']">
                Phone number is required.
              </div>
              <div *ngIf="selectedPhoneBookEntry.phoneNumber.errors?.['minlength']">
                Phone number must be at least 10 characters long.
              </div>
              <div *ngIf="selectedPhoneBookEntry.phoneNumber.errors?.['minlength']">
                Phone number cannot exceed 15 characters long.
              </div>

            </div>-->

          </div>
        </div>
        <br>
        <br>

        <div class="row mb-4">
          <div id="updateSection" *ngIf="selectedPhoneBookEntry.phoneBookEntryId != 0" class="m-auto">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-right text-right">
              <button class="btn btn-success bs-tooltip" title="Click to save info" type="submit" (click)="UpdatePhonebookEntry()" name="addButton">Update</button>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-left text-left">
              <button class="btn btn-warning bs-tooltip" title="Click to navigate back" type="submit" (click)="showTable = true" name="addButton">Back</button>
            </div>
          </div>

          <div id="addSection" *ngIf="selectedPhoneBookEntry.phoneBookEntryId == 0" class="m-auto">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-right text-right">
              <button class="btn btn-success bs-tooltip" title="Click to save info" type="submit" (click)="SaveNewPhonebookEntry()" name="addButton">Submit</button>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-left text-left">
              <button class="btn btn-warning bs-tooltip" title="Click to navigate back" type="submit" (click)="showTable = true" name="addButton">Back</button>
            </div>
          </div>
        </div>

      </form>

    </div>
    <br />

  </div>

</body>
</html>

