<h2>My Phone book</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Phone number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phoneBookEntry of phoneBookEntriesList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{phoneBookEntry.firstName}}</td>
      <td>{{phoneBookEntry.surname}}</td>
      <td>{{phoneBookEntry.phoneNumber}}</td>
      <td>
        <button type="button" (click)="editSelected(phoneBookEntry)">Edit</button>
        <button type="button" (click)="deleteSelected(phoneBookEntry.phoneBookEntryId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedEntry">
  <app-phone-book-entry [phoneBookEntry]="selectedEntry"></app-phone-book-entry>
</div>


