<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="">
    <div id="registerSection" style="margin-bottom: 5px;">
      
      <p>Enter user details below:</p>

      <p>First Name : <input type="text" ng-model="firstName" placeholder="Enter first name here"></p>
    
      <p>Surname : <input type="text" ng-model="surname" placeholder="Enter surname here"></p>
    
      <p>Phone No : <input type="text" ng-model="phoneNumber" placeholder="Enter phone number here"></p>

    </div>
    <br />

  </div>

</body>
</html>

